main section {
  display: flex;
  width: 100%;
  flex-direction: column;
}

section form {
  display: flex;
  flex-direction: column;
  margin-top: 1em;
  margin-bottom: 1em;
}

form label {
  font-weight: bold;
}

form textarea {
  color: #545149;
  outline: none;
  background: transparent;
  border: none;
  border-bottom: 3px solid #545149;
  margin-bottom: 2%;
}

form button {
  background-color: #4056A1;
  font-family: 'Bungee', sans-serif;
  font-size: 1em;
  color: white;
}

.counter {
  font-family: 'Bungee', sans-serif;
  float: right;
}

.counter.negetive {
  color: red;
}

#empty-tweet {
  margin-top: 4px;
  border: red 3px solid;
  color: red;
}

#long-tweet {
  margin-top: 4px;
  border: red 3px solid;
  color: red;
}